body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.container {
    margin: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
   
}
.your-cart {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-items {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
}
.img { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img {
    width: 50%;
    height: 50%;
}
.product-info {
    padding: 10px;
    font-size: 20px;
    
}
.title {
    font-size: 20px;
    
}
.cart-item-container {
    padding: 0;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: grid;
    grid-row-gap: 1em;
    background-color: white;
    border-radius: 10px;
    
}
.total-item-container {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: white;
    height: fit-content;
}
.order-sum, .total {
    display: flex;
    justify-content: space-between;
}
.delete-btn {
    display: grid;
    place-items: center;
}
.tooltip button {
    padding: 0;
    border: none;
    background: none;
    font-size: 20px;
    transition: all 0.2s linear;
}
.counter {
    display: grid;
    place-items: center;
    margin: 10px;
    padding: 0;
   
}
.counter input{
    width: 20px;
    margin: 0;
    padding: 10px;
    background-color: #f1e9e9;
    
    text-align: center;
}
.counter button {
    background-color: #f1e9e9;
    padding: 10px;
    margin: 0;
}

   
    .tooltip {
    position: relative;
    display: inline-block;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;
   }
   .btn {
    color: #F77FBE;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #F77FBE;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    z-index: 1; 
}

.btn:hover {
    color: white;
}

.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #F77FBE;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
    z-index: -1; 
}