body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.container {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    
}
.your-cart {
    padding: 10px;
    background-color: #ddd;
}
.cart-items {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
}
.title {
    font-size: 15px;
}
.cart-item-container {
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    display: grid;
    grid-row-gap: 1em;
    
}
.total-item-container {
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    background-color: #ddd;
    height: fit-content;
}
.order-sum, .total {
    display: flex;
    justify-content: space-between;
}