.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    position: relative;
    border-bottom: 1px solid #252525;
}
.icon {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #252525;
    background-color: #fff;
    border-radius: 50%; 
    cursor: pointer;
    transition: .3s ease-in-out;
}
.icon:hover {
  border: 1px solid #FF99CC;
  background-color: #FF99CC;
 }
ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 2px 10px;
    position: relative;
}
.wrapper a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: #FF99CC;
    padding: 3px 10px;
    font-family: 'Libre Baskerville', serif;
    transition: .3s ease-in-out;
    
}
.wrapper a:hover {
    color: #F77FBE;
}
ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}
ul li ul li {
    width: 100px;
    
}
ul li ul li a{
    padding: 10px 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
img {
    width: 80px;
    height: 60px;
}
#cart_count {
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    color: #FFFFFF;
}

  
  .cart i {
    position: relative;
    font-size: 20px;
    color: #000;
    align-self: center;
  }
  .cart-counter {
    position: relative;
    margin-right: 10px;
  }
  .cart-counter #cart-total {
    position: absolute;
    bottom: -3px;
    right: -3px;
    background-color: red;
    color: white;
    font-size: 12px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  