body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
}
.container {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    font-family: 'Libre Baskerville', serif;
}
.product-container {
    border: 2px solid #212121;;
    padding: 20px;
    margin: 20px;
    border-radius: .5em;
   width: 1000px;
   height: 400px;
   display: flex;
   background-color:white;
}
.product-container > * {
    flex: 1; 
    display: flex;
    flex-direction: column;
  
  }
  .img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
  }
  .bg {
    display: flex;
    justify-content: space-evenly;
    margin-top: -3.5em;
    margin-left: -8em;
    margin-bottom: -1em;
}

.subtitle {
    font-size: 18px;
}
.title {
    font-size: 40px;
}
.name .price {
    font-size: 25px;
    font-weight: 600;
}
.name .details{
    font-size: 20px;
}
.btn {
    color: #F77FBE;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #F77FBE;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    z-index: 1; 
}

.btn:hover {
    color: white;
}

.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #F77FBE;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
    z-index: -1; 
}

