body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
}
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: #212121;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    width: 60vw;
    margin: 0;
    padding: 0;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.login-form-grid {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    
}
.register-form-grid {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50vw;
    
}
@media (min-width: 35em) {
    .register-form-grid {
        grid-template-columns: 1fr 1fr;
    }
}
.register-form-input {
    display: grid;
    
}
.form-full-widht {
    grid-column: 1/-1;
    
}.form-full-widht a, button, p{
    text-align: center;
}
input {
    padding: 15px;
   
    font-size: 14px;
    border: solid 1px #2F4B5E;
}
button {
    background-color: #2F4B5E;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
input, button{
    margin-bottom: 15px;
}
h2 {
    text-align: center;
    font-size: 50px;
    color: pink;
   
}
.register_link {
    color: #333;
    font-size: 14px;
    background-color: white;
    border: 1px solid white;
    
}
p {
    display: grid;
    font-family: 'PT Sans', sans-serif;
    color:red;
    font-size:18px;
    padding: 15px;
    background-color: rgb(250, 193, 193);
    border: 2px solid red;
    border-radius: 6px;
}
button:hover {
    background-color: #0a3d5f;
}
.register_link:hover {
    color: #000000;
}
.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }