body {
    margin: 0;
    padding: 0;
}
.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
   
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin: 0;
    padding: 0;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.login-form-grid {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    
}
.register-form-grid {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50vw;
    
}
@media (min-width: 35em) {
    .register-form-grid {
        grid-template-columns: 1fr 1fr;
    }
}
.register-form-input {
    display: grid;
    
}
.form-full-widht {
    grid-column: 1/-1;
    
}.form-full-widht a, button{
    text-align: center;
}
input {
    padding: 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    border: solid 1px #2F4B5E;
}
button {
    background-color: #2F4B5E;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
input, button{
    margin-bottom: 15px;
}
h2 {
    text-align: center;
    font-size: 50px;
    color: pink;
    font-family: 'Libre Baskerville', serif;
}
.register_link {
    color: #333;
    font-size: 14px;
    background-color: white;
    border: 1px solid white;
    
}
p {
    font-family: 'PT Sans', sans-serif;
    color:red;
    font-size:18px;
    padding: 15px;
    background-color: rgb(250, 193, 193);
    border: 2px solid red;
    border-radius: 6px;
}
button:hover {
    background-color: #0a3d5f;
}
.register_link:hover {
    color: #000000;
}