/* font-family: 'Roboto', sans-serif;
font-family: 'Kaushan Script', cursive; */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    padding: 15px;
}
.row {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }
.img {
    background-color: aquamarine;
    width: 180px;
    height: 200px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    
}
.card-body {
   
}
.title {
    font-size: 20px;
    font-weight: 400;
}
.price {
    color: #fa7705;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    align-self: center;
}
.btn {
    background-color: #fa7705;
    border-radius: 3px;
    border: none;
    height: 30px;
    width: 120px;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    color: #fdfdfd;
    font-family: 'Roboto', sans-serif;
}
