/* font-family: 'Roboto', sans-serif;
font-family: 'Kaushan Script', cursive; */

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/* Hero style start*/
.hero-container {
    background-size: cover;
    width: 100%;
    height: 90vh;
    color: #000;
    display: flex;
}
.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 10em;
    font-family: 'Libre Baskerville', serif;
    background-color:#F77FBE;
    
}
.hero-title h1 {
    align-self: center;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: -20px;
}
.hero-title h5 {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.hero-title a {
    background-color: #4C454C;
    font-size: 15px;
    width: 210px;
    height: 40px;
    color: #ddd;
    border: none;
    border-color: #FF99CC;
    display: flex;
    align-items: center;
    justify-content: center; 
    justify-content: space-evenly;
}
.hero-title a:hover{
    background-color: #000000;
    color: #F77FBE;
}
.hero-title {
    width: 30vw;
}
.hero-img {
    width: 60vw;
}
.hero-img {
    background-color: #000000;
    display: grid;
    place-items: center;
}
.hero-card {
    aspect-ratio: 5 / 7;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}
.big-card {
    width: 30vmin;
    border-radius: 1vmin;
    
}
.small-card{
    width: 12vmin;
    border-radius: 2vmin;
   
}
.big-card:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1547887537-6158d64c35b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHBlcmZ1bWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    transform: translateX(-15%) rotate(-3deg);
}
.big-card:nth-child(4){ 
    background-image: url(https://images.unsplash.com/photo-1535683577427-740aaac4ec25?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    transform: rotate(4deg);
}
.big-card:nth-child(6){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url(https://images.unsplash.com/photo-1545840716-c82e9eec6930?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  transform: translateX(-8%) rotate(-2deg);
}
.big-card:nth-child(8){
    background-image: url(https://images.unsplash.com/photo-1599342166997-58552e91d9f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHBlcmZ1bWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    transform: translateX(10%, 3%) rotate(5deg);
} 
.small-card:nth-child(1){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url(https://images.unsplash.com/photo-1594035910387-fea47794261f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}  
.small-card:nth-child(3){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url(https://images.unsplash.com/photo-1610461888750-10bfc601b874?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=399&q=80);
}
.small-card:nth-child(5){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url(https://images.unsplash.com/photo-1619994403073-2cec844b8e63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHBlcmZ1bWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}
.small-card:nth-child(7){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url(https://images.unsplash.com/photo-1587017539504-67cfbddac569?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHBlcmZ1bWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}
.hero-img:hover > .big-card:nth-child(2){
    transform: translate(-75%, 16%) rotate(-24deg);
}
.hero-img:hover > .big-card:nth-child(4){
    transform: translate(-25%, 8%) rotate(-8deg);
}
.hero-img:hover > .big-card:nth-child(6){
    transform: translate(25%, 8%) rotate(8deg);
}
.hero-img:hover > .big-card:nth-child(8){
    transform: translate(75%, 16%) rotate(24deg);
}
.hero-img:hover > .small-card:nth-child(1){
    transform: translate(200%, -140%) rotate(-15deg);
}
.hero-img:hover > .small-card:nth-child(3){
    transform: translate(300%, 160%) rotate(15deg);
}
.hero-img:hover > .small-card:nth-child(5){
    transform: translate(-200%, -140%) rotate(15deg);
}
.hero-img:hover > .small-card:nth-child(7){
    transform: translate(-290%, 140%) rotate(-15deg);
}
/* Hero style end */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    align-items: center;
  }
.img {
    background-color: aquamarine;
    width: 180px;
    height: 200px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    
}
.card-body {
    
}
.title {
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.price {
    color: #fa7705;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    align-self: center;
}
.btn-container {
    display: flex;
    justify-content: space-between;
}
.btn {
    background-color: #fa7705;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    color: #fdfdfd;
    font-family: 'Roboto', sans-serif;
}
